[submodule "_myapps-common"]
	path = _myapps-common
	url = https://github.com/yananob/myapps-common.git
	branch = main
[submodule "_template"]
	path = _template
	url = https://github.com/yananob/_template-cloudfunctions.git
	branch = test
